@model IEnumerable<Luht_SkiJumpers.Models.AddJumpers>

@{
    ViewData["Title"] = "JumpersList";
}


<p>
    <a asp-action="AddJumper">Add Jumper</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Standings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Standings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="AddDistance" asp-route-id="@item.Id">Add Distance</a>
                </td>
            </tr>
        }
    </tbody>
</table>
